nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  a.navbar-brand(href='/')
    img(src='/images/logo.png', style='width:64px;')
  ul.navbar-nav
    li.nav-item
      a.nav-link(href='/') Home
    li.nav-item
      a.nav-link(href='/users/create') Add User
    li.nav-item
      a.nav-link(href='/users') View Users
