* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', san-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }

.header {
  height: 7rem;
  background: #fff;
  border-bottom: #f4f2f2; }

.content {
  display: flex; }

.sidebar {
  background: #333;
  flex: 0 0 18%; }

.hotel-view {
  background: #fff;
  flex: 1; }

.logo {
  height: 3.25rem; }

.search__icon {
  height: 2rem;
  width: 2rem; }

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem; }

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%; }
