body {
  margin: 0;
  padding: 0;
  font-family: 'intro';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post {
  width: 600px;
  height: 400px;
  position: relative;
  cursor: pointer;
}

.post:hover .post-title {
  width: 600px;
}

.post img {
  display: block;
  width: 600px;
  height: 400px;
}

.post .post-title {
  text-transform: uppercase;
  width: 0;
  height: 400px;
  background: rgba(118, 12, 150, 0.719);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 500ms ease;
}

.post .post-title h2 {
  color: white;
  font-size: 50px;
  border: 6px solid white;
  padding: 10px 30px;
}
