.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3rem;

  @media only screen and (max-width: $bg-medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: $bg-medium) {
        margin: 0;
      }
    }

    @media only screen and (max-width: $bg-medium) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: $pinkMedium;
    transform: scaleY(0);
    transition: transform .2s,
      width .5s cubic-bezier(1, 0, 0, 1) .2s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    position: relative;
    z-index: 10;
    color: $greyLight-3;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bg-medium) {
      justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: $bg-small) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor; //Get color on Link
    margin-right: 2rem;

    @media only screen and (max-width: $bg-small) {
      margin-right: 0;
      margin-bottom: .7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

}

.legal {
  color: $greyLight-2;
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $bg-medium) {
    display: none;
  }
}