body {
  font-family: Arial, Helvetica, sans-serif;
}

.zingchart {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.zingchart .number {
  font-size: 22px;
  padding: 0 10px;
}

.zingchart .info {
  font-size: 16px;
  flex-grow: 1;
}

.zingchart .music {
  margin-bottom: 8px;
}

.zingchart .singer {
  font-size: 12px;
  color: #999999;
}

.zingchart .viewer {
  font-size: 12px;
  color: #999999;
}