.container {
  max-width: 120rem;
  margin: 8rem auto;
  background: $greyLight-2;
  box-shadow: $shadowDark;

  min-height: 50rem;

  @media only screen and (max-width: $bg-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background: $white;
  border-bottom: 1px solid $greyLight-2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;

  @media only screen and (max-width: $bg-medium) {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: $greyDark-1;


  flex: 0 0 18%;
}

.hotel-view {
  background: $white;

  flex: 1;
}

.user-reviews {
  font-size: 1.4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}