.review {
  background: $white;
  box-shadow: 0 2rem 6rem rgba($greyDark-3, .3);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: "\201C";
    position: absolute;
    top: -8.75rem;
    left: -1rem;
    font-size: 20rem;
    color: $greyLight-2;
    font-family: sans-serif;
    z-index: 1;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;

    &-box {
      margin-right: auto;
    }

    &-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }

    &-date {
      font-size: 1rem;
      color: $greyDark-3;
    }
  }

  &__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__rating {
    color: $pinkMedium;
    font-size: 2.2rem;
    font-weight: 300;
  }
}