$pinkMedium: #eb2f64;
$pinkLight: #FF3366;
$pinkDark: #BA265D;

$greyLight-1: #faf9f9;
$greyLight-2: #f4f2f2;
$greyLight-3: #f0eeee;
$greyLight-4: #ccc;

$greyDark-1: #333;
$greyDark-2: #777;
$greyDark-3: #999;

$black: #000;
$white: #fff;

$shadowDark: 0 2rem 6rem rgba($black, .3);
$line: 1px solid $greyLight-2;

$bg-largest: 75em; //1200px
$bg-large: 68.75em; //1100px
$bg-medium: 56.25em; //900px