extends ../layouts/common

block content
  h1 View User:

  p
    b Name:
    span &nbsp
    span= user.name
  p
    b Phone:
    span &nbsp
    span=user.phone
  p
    b Email:
    span &nbsp
    spam=user.email
  a.btn.btn-primary(href='/users') Back to View All