extends ../layouts/common

block content
  h1 Login
  if errors
    each error in errors
      .alert.alert-danger=error

  form(method="POST", class="form-col")
    .form-row
      label(for="email", class="mt-2 pl-3 mr-2") Email
      input#email(class="form-control col-3 mr-2", type="email", name="email", placeholder="Input here", value=values? values.email: "")
    .form-row.mt-2
      label(for="password", class="mt-2 pl-3 mr-2") Password
      input#password(class="form-control col-3 mr-2", type="password", name="password", placeholder="Input here", value=values? values.password: "")
    button.mt-2(class="btn btn-success") Login